<!DOCTYPE html>
head
    link(rel="stylesheet", href="style.css")
body
    div#header
        a(href="/") Home
        a(href="/about") About
        a(href="/create-toDo") Create-todo
        a(href="/show-todos") Show-Todos
        a(href="/student-detail") Create Student
        a(href="/student-list") Show Students
    block main
    div#footer