extends  ./copy.jade
block main
    div#containt
        div
            h2 This is home page
            img(src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWfbJT?ver=8259&q=90&m=6&h=150&w=200&b=%23FFFFFFFF&l=f&o=t&aim=true", alt="")
